#coder, #teacher, #cook {
  display: none;
}
.jumbotron {
  text-align: center;
  background-color: blue;
  color: white;
}
.container {
  text-align: center;
}
.button {
  padding: 20px;
}
body {
  background-color: #979
}
